In [10]:
import pandas as pd
pd.set_option('display.max_rows', 100)
import numpy as np

# Finding Duplicate values

In [2]:
df = pd.read_csv('dataset/car.csv')

Say you have a dataframe like this

In [3]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

## In order to see the count of Say Car_Names repeated you can do something like this
<a id="Actual_Count"></a>

In [4]:
NAME = "Car_Name"

n = df.groupby(by=[NAME]).count().iloc[:, 0:1]
n.columns.values[0] = 'Count'

# Making a function out of it for quick use
def duplicate_count(df):
    n = df.groupby(by=[NAME]).count().iloc[:, 0:1]
    n.columns.values[0] = 'Count'
    return n

n

                           Count
Car_Name
800                            1
Activa 3g                      2
Activa 4g                      1
Bajaj  ct 100                  1
Bajaj Avenger 150              1
Bajaj Avenger 150 street       1
Bajaj Avenger 220              3
Bajaj Avenger 220 dtsi         2
Bajaj Avenger Street 220       1
Bajaj Discover 100             1
Bajaj Discover 125             2
Bajaj Dominar 400              1
Bajaj Pulsar  NS 200           1
Bajaj Pulsar 135 LS            1
Bajaj Pulsar 150               4
Bajaj Pulsar 220 F             2
Bajaj Pulsar NS 200            3
Bajaj Pulsar RS200             1
Hero  CBZ Xtreme               1
Hero  Ignitor Disc             1
Hero Extreme                   2
Hero Glamour                   1
Hero Honda CBZ extreme         1
Hero Honda Passion Pro         1
Hero Hunk                      1
Hero Passion Pro               2
Hero Passion X pro             1
Hero Splender Plus             1
Hero Splender iSmart           2
Hero Super Splendor            1
Honda Activa 125               1
Honda Activa 4G                2
Honda CB Hornet 160R           3
Honda CB Shine                 2
Honda CB Trigger               1
Honda CB Unicorn               1
Honda CB twister               2
Honda CBR 150                  2
Honda Dream Yuga               1
Honda Karizma                  2
Hyosung GT250R                 1
KTM 390 Duke                   1
KTM RC200                      2
KTM RC390                      1
Mahindra Mojo XT300            1
Royal Enfield Bullet 350       1
Royal Enfield Classic 350      7
Royal Enfield Classic 500      2
Royal Enfield Thunder 350      4
Royal Enfield Thunder 500      3
Suzuki Access 125              1
TVS Apache RTR 160             3
TVS Apache RTR 180             2
TVS Jupyter                    1
TVS Sport                      1
TVS Wego                       1
UM Renegade Mojave             1
Yamaha FZ  v 2.0               2
Yamaha FZ 16                   1
Yamaha FZ S                    1
Yamaha FZ S V 2.0              3
Yamaha Fazer                   1
alto 800                       1
alto k10                       5
amaze                          7
baleno                         1
brio                          10
camry                          1
ciaz                           9
city                          26
corolla                        1
corolla altis                 16
creta                          3
dzire                          4
elantra                        2
eon                            6
ertiga                         6
etios cross                    3
etios g                        3
etios gd                       1
etios liva                     4
fortuner                      11
grand i10                      8
i10                            5
i20                            9
ignis                          1
innova                         9
jazz                           7
land cruiser                   1
omni                           1
ritz                           4
s cross                        1
swift                          5
sx4                            6
verna                         14
vitara brezza                  1
wagon r                        4
xcent                          3

## If you just wont to know if particular columns of your dataset has duplicate values you can do something like this

In [5]:
NAME = "Car_Name"

m = df[NAME].duplicated().any()
n = df[NAME].is_unique

f"Value of m: {m} ## Value of n: {n}"

'Value of m: True ## Value of n: False'

## Say Now we want to remove every duplicate car names from Car_Name column but keeping the first occurence

In [6]:
NAME = "Car_Name"

n = df.drop_duplicates(subset=[NAME])

duplicate_count(n)

                           Count
Car_Name
800                            1
Activa 3g                      1
Activa 4g                      1
Bajaj  ct 100                  1
Bajaj Avenger 150              1
Bajaj Avenger 150 street       1
Bajaj Avenger 220              1
Bajaj Avenger 220 dtsi         1
Bajaj Avenger Street 220       1
Bajaj Discover 100             1
Bajaj Discover 125             1
Bajaj Dominar 400              1
Bajaj Pulsar  NS 200           1
Bajaj Pulsar 135 LS            1
Bajaj Pulsar 150               1
Bajaj Pulsar 220 F             1
Bajaj Pulsar NS 200            1
Bajaj Pulsar RS200             1
Hero  CBZ Xtreme               1
Hero  Ignitor Disc             1
Hero Extreme                   1
Hero Glamour                   1
Hero Honda CBZ extreme         1
Hero Honda Passion Pro         1
Hero Hunk                      1
Hero Passion Pro               1
Hero Passion X pro             1
Hero Splender Plus             1
Hero Splender iSmart           1
Hero Super Splendor            1
Honda Activa 125               1
Honda Activa 4G                1
Honda CB Hornet 160R           1
Honda CB Shine                 1
Honda CB Trigger               1
Honda CB Unicorn               1
Honda CB twister               1
Honda CBR 150                  1
Honda Dream Yuga               1
Honda Karizma                  1
Hyosung GT250R                 1
KTM 390 Duke                   1
KTM RC200                      1
KTM RC390                      1
Mahindra Mojo XT300            1
Royal Enfield Bullet 350       1
Royal Enfield Classic 350      1
Royal Enfield Classic 500      1
Royal Enfield Thunder 350      1
Royal Enfield Thunder 500      1
Suzuki Access 125              1
TVS Apache RTR 160             1
TVS Apache RTR 180             1
TVS Jupyter                    1
TVS Sport                      1
TVS Wego                       1
UM Renegade Mojave             1
Yamaha FZ  v 2.0               1
Yamaha FZ 16                   1
Yamaha FZ S                    1
Yamaha FZ S V 2.0              1
Yamaha Fazer                   1
alto 800                       1
alto k10                       1
amaze                          1
baleno                         1
brio                           1
camry                          1
ciaz                           1
city                           1
corolla                        1
corolla altis                  1
creta                          1
dzire                          1
elantra                        1
eon                            1
ertiga                         1
etios cross                    1
etios g                        1
etios gd                       1
etios liva                     1
fortuner                       1
grand i10                      1
i10                            1
i20                            1
ignis                          1
innova                         1
jazz                           1
land cruiser                   1
omni                           1
ritz                           1
s cross                        1
swift                          1
sx4                            1
verna                          1
vitara brezza                  1
wagon r                        1
xcent                          1

### You can Now see that our new dataframe contains only one occurence of that car and rest  were deleted

## Our dataframe has 26 values for a car name city say we only want to delete these 26 values keeping only one occurence of course. <a href="#Actual_Count">Check Here</a>

In [15]:
NAME = 'Car_Name'
CAR = 'city'

m = df
m['remove'] = np.where(df[NAME] == CAR, True, False)
df.loc[df[NAME] == CAR, :]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,remove
251,city,2013,5.00,9.90,56701,Petrol,Dealer,Manual,0,True
253,city,2014,7.20,9.90,48000,Diesel,Dealer,Manual,0,True
254,city,2013,5.25,9.90,54242,Petrol,Dealer,Manual,0,True
256,city,2016,10.25,13.60,49562,Petrol,Dealer,Manual,0,True
257,city,2015,8.50,13.60,40324,Petrol,Dealer,Manual,0,True
258,city,2015,8.40,13.60,25000,Petrol,Dealer,Manual,0,True
260,city,2016,9.15,13.60,29223,Petrol,Dealer,Manual,0,True
267,city,2016,8.35,9.40,19434,Diesel,Dealer,Manual,0,True
269,city,2015,6.70,10.00,18828,Petrol,Dealer,Manual,0,True
270,city,2011,4.10,10.00,69341,Petrol,Dealer,Manual,0,True
271,city,2009,3.00,10.00,69562,Petrol,Dealer,Manual,0,True
272,city,2015,7.50,10.00,27600,Petrol,Dealer,Manual,0,True
275,city,2016,10.90,13.60,30753,Petrol,Dealer,Automatic,0,True
276,city,2015,8.65,13.60,24800,Petrol,Dealer,Manual,0,True
277,city,2015,9.70,13.60,21780,Petrol,Dealer,Manual,0,True
279,city,2014,6.25,13.60,40126,Petrol,Dealer,Manual,0,True
281,city,2006,2.10,7.60,50456,Petrol,Dealer,Manual,0,True
282,city,2014,8.25,14.00,63000,Diesel,Dealer,Manual,0,True
283,city,2016,8.99,11.80,9010,Petrol,Dealer,Manual,0,True
288,city,2015,8.40,13.60,34000,Petrol,Dealer,Manual,0,True
289,city,2016,10.11,13.60,10980,Petrol,Dealer,Manual,0,True
293,city,2010,3.25,9.90,38000,Petrol,Dealer,Manual,0,True
295,city,2015,8.55,13.09,60076,Diesel,Dealer,Manual,0,True
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,True
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,True
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,True